
@{
    ViewBag.Title = "ManageStudent";
}



<div class="container-fluid">
    <div class="row">
        <h1 class="box-title">ManageStudent <small>ข้อมูลนักศึกษา</small></h1>
    </div>
</div>
<br />
<br />

<div class="container-fluid">
    <div class="table-responsive table-hover" id="student">
        <table class="table scrollbar" style="width:100%">
            <thead>
                <tr>
                    <th>รหัสนักศึกษา</th>
                    <th>ชื่อ</th>
                    <th>นามสกุล</th>
                    <th>ชั้นปี</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<br />
<br />


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label>รหัสนักศึกษา : </label>
        <input type="hidden" name="ID" id="ID" />
        <input class="form-control" type="text" name="student_code" id="student_code" placeholder="รหัสนักศึกษา" />
    </div>
    <div class="col-md-4">
        <label>ชั้นปี : </label>
        <input class="form-control" type="text" name="year" id="year" placeholder="ชั้นปี" />
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <label>ชื่อ : </label>
        <input class="form-control" type="text" name="fname" id="fname" placeholder="ชื่อ" />
    </div>
    <div class="col-md-4">
        <label>นามสกุล : </label>
        <input class="form-control" type="text" name="lname" id="lname" placeholder="นามสกุล" />
    </div>
</div>
<br />
<br />

<div style="text-align:right">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" id="save">
            <span class="glyphicon glyphicon-save"></span> บันทึก
        </button>
        <button type="button" class="btn btn-primary" id="clear">
            <span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
        </button>
        <button type="button" class="btn btn-primary btn-md" id="Delete">
            <span class="glyphicon glyphicon-trash"></span> ลบ
        </button>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" rel="stylesheet" />
<link href="//cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css" rel="stylesheet" />

@section scripts {

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>



    //data table นักศึกษา
    $(document).ready(function () {
        dataTable = $("div#student table").DataTable({
            "ajax": {
                "url": 'GetStudent',
                "type": "post",
                "datatype": "json"
            },
            "columns": [
                { "data": "student_code" },

                //กำหนด Column ต่อไป ...



               
            ],
            "order": [[0, "desc"]],
            "dom": 'Bfrtip',
            "select": true,
            "buttons": [
                {
                    text: 'เลือกข้อมูลนักศึกษา',
                    action: function (e, dt, node, config) {
                        var id = JSON.stringify(dt.row({ selected: true }).data().ID)

                        if (id != 0) {
                            $('#ID').val(dt.row({ selected: true }).data().ID);
                            $('#student_code').val(dt.row({ selected: true }).data().student_code);

                            //เขียนโค้ต เอาข้อมูลขึ้นไปวางบน html ...





                        } else {
                            $('#student_code').val("");
                            $('#fname').val("");
                            $('#lname').val("");
                            $('#year').val("");
                        }
                    },
                }
            ],
        });
    });


    $("#save").on('click', function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveStudent", "Student")',
                    data: JSON.stringify({
                        ID: $("#ID").val(),
                        //เรียกข้อมูลจาก html ลงตัวแปรเพื่อส่งไป save...




                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    processData: false,
                    success: function (response) {
                        if (response == true) {
                            /*เมื่อบันทึกเสร้จก็จะขึ้นอะเลิต*/
                            swal("บันทึกสำเร็จ", {
                                icon: "success",
                            }).then((value) => { /*เมื่อกดโอเคก็จะรีโหลดหน้า*/
                                window.location.reload(true);
                            });
                        }
                    }
                })
    });


    $("#Delete").click(function () {
        var fname = $("#fname").val();
        var lname = $("#lname").val();
        swal({
            title: "คุณแน่ใจหรือไม่ ?",
            text: "ต้องการลบนักศึกษาชื่อ " + fname + " " + lname + " ใช่หรือไม่ ?",
            icon: "warning",
            buttons: {
                cancel: "ไม่ใช่!",
                ใช่: true,
            },
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) { /*ยืนยันการลบข้อมูล*/
                    $.ajax({
                        url: '@Url.Action("DeleteStudent", "Student")',
                        type: 'post',
                        data: JSON.stringify({
                            ID: $("#ID").val()
                        }),
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        processData: false,
                        success: function (data) {
                            if (data == true) {
                                /*เมื่อลบเสร้จก็จะขึ้นอะเลิต*/
                                swal("ลบสำเร็จ!", {
                                    icon: "success",
                                }).then((value) => { /*เมื่อกดก็จะรีโหลดหน้า*/
                                    window.location.reload(true);
                                });
                            }
                        }
                    });

                } else { /*ยกเลิกการลบข้อมูลนะจ้า*/

                }
            });

    });


    $("#clear").click(function () {

        $('#student_code').val("");
        $('#fname').val("");
        $('#lname').val("");
        $('#year').val("");

    });




    </script>

}